{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Type 1 Diabetes SNP search
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the T1 Diabetes SNP search!</h1>

       <p class="lead">Welcome to the Type 1 Diabetes SNP search portal. You can search for SNP's by SNP name, gene name or genomic position to find SNP's of interest that have been associated with Type 1 Diabetes.</p>
        <p>  Please note, if you're searching for rs ID, please format it in lower-case. If you're searching genomic coordinates please format it as 'chr[int]:[coordinate]-[coordinate]' or 'chr[int]:[coordinate]'.  </p> 

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
