{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Region: {{ chr_n }}
{% endblock %}


{% block content %}
<img src={{name}}>
<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">Chromosome {{ chr_n }}:{{ chr_p1 }}-{{ chr_p2 }} </h1> 
      <p><a {{ chr_p2 }} </a></p>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>

      {{ wtf.quick_form(form) }}

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

      <img src="{{url_for('static', filename='manhattan_plot.png')}}" align="middle" />
        <table class="table">
            <tr>
        
                <th>rs ID</th>
                <th>Location</th>
                <th>Reference Allele</th>
                <th>Alternate Allele</th>
                <th>GBR_REF Allele Frequency</th>
                <th>GBR_ALT Allele Frequency</th>
                <th>JPT_REF Allele Frequency</th>
                <th>JPT_ALT Allele Frequency</th>
                <th>ESN_REF Allele Frequency</th>
                <th>ESN_ALT Allele Frequency</th>
                <th>CADD</th>
                <th>P Value</th>
                <th>Mapped Genes</th>
                <th>Functional</th>
            </tr>

            <!-- here is a for-loop to give us all the SNPS -->
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}:{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
                <td>{{ row[12] }}</td>
                <td>{{ row[13] }}</td>
                <td>{{ row[14] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
</div>

{% endblock %}
