{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
SNP: {{ id }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">{{ id }}</h1>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

      <p>P Value: {{ rows[0][12] }}</p>
      <p>CADD PHRED: {{ rows[0][11] }}</p>
      <p>Location: {{ rows[0][1] }}:{{ rows[0][2] }}</p>
      <p>Reference: {{ rows[0][3] }} / Alternate: {{ rows[0][4] }}</p>
      <p>GBR_REF: {{ rows[0][5] }}      GBR_ALT: {{ rows[0][6] }}</p>
      <p>JPT_REF: {{ rows[0][7] }}      JPT_ALT: {{ rows[0][8] }}</p>
      <p>ESN_REF: {{ rows[0][9] }}      ESN_ALT: {{ rows[0][10] }}</p>

      <table class="table">
            <tr>
                <th>Mapped Gene</th>
                <th>Function</th>
            </tr>

            <!-- here is a for-loop to give us all the SNPS -->
            {% for row in rows %}
            <tr> 
                <td>{{ row[13] }}</td>
                <td>{{ row[14] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
  </div>
</div>

{% endblock %}